In [ ]:
Frontend -> backend -> database
Frontend <- backend <-database

In [ ]:
# 01/12/2025
# fEATURES Of Python
1. Easy to learn
2. interpreted
3. Case sensitive
4. OOPS
5. Exception Handling
6. Cross Platform
7. built in Packages/ modules
8. GUI Support
9. Interactive
10. Dynamically Typed Programming language
11 high level
12. it also supports backend

In [ ]:
# variable 
number int float complex
sequence - list, string, tuple
set - set frozenset {}
map - dictionary {key:value}
boolean- True  False

In [7]:
# # Types of Print statements
# print(data,sep="",end="",file=sys.stdout,flush=False)

print("ravi","revanth")
print("krishna")

ravi revanth
krishna

In [18]:
# a=int(input())
# b=float(input())
# c=complex(input())
# single line comment
'''Multi Line Comment'''
"""Multi line comment"""

d=bool(input())
print(d)

False
True

In [ ]:
1. General Printing
2. Using Format literal (f)
3. By using format specifier

4. by using format

In [20]:
# 2 type
a=10
b=20
# print(f" String {variable name} String")
print(f"The value is : {a} {b}")

The value is : 10 20

In [26]:
# 3rd Type
#By using format specifier
a=10
b=20
# print("% format specifier" %(variable list))
print("The value of a is %d b is %d" %(a,b))

The value of a is 10 b is 20

In [2]:
# By using format strings
a=10
b=20
#print("{value}".format(variablename))
print("{0}  {1}".format(b,a))

20  10

In [ ]:
# 02/12/2025

# Operators in Python

1. Arthimetic - + , - * / , % , // , **
2. Relational - > < <= >= != ==
3. Assignment - +=
4. Bit wise - & | ^ << >> ~
5. logical Operator - and or not
# 6. Ternary Operator
7. Identity Operator is is not
8. Membership operator in not in
# no unary operators

In [ ]:
if if else 
elif nested if else

In [ ]:
if condition:
    if:
        #True
    elif condition:
        # True
    else:
        # False
elif condition1:
    # True
else:
    # False

In [ ]:
# range(start,stop,step)
# for(i=0;i<10;i++)

In [ ]:
# Iterative Statements
for 
while

# Jumping Statements
1. Break
2. Continue
3. Pass

In [39]:
def printing():
    pass

printing()

In [38]:
l=[1,2,3,4]
print(1 not in l)

False

In [36]:
# is is not
# id()

# a=10
# print(id(a))
# b=10
# b=a
a=[1,3,4,"String"]
print(id(a))
b=a

b[1]="Revanth"
print(a)
print(b)
print(id(b))
print(a is b)
# print(id(b))

1436536296832
[1, 'Revanth', 4, 'String']
[1, 'Revanth', 4, 'String']
1436536296832
True

In [10]:
print(10>>3)
print(bin(10))

1
0b1010

In [13]:
a=10
if(a>10):print("True")else:print("False")
# print(value)

SyntaxError: invalid syntax (477999737.py, line 2)

In [ ]:
match condition:
    case 1 : statements
    case 2: statements

In [54]:
a=int(input())
match a:
    case 1: print("Monday")
    case 2: print("Monday")
    case 3: print("Monday")

1
Monday

In [ ]:
# for(i=0;i<10;i++){
    
# }
range(startvalue,endvalue,stepvalue)

In [72]:
for i in range(1,15):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [ ]:
# Strings 
sequence datatype
ordered Collection
Accessing elements based on index
Ex: List, String,Tuple
    
    Ex: Set FrozenSet,Dictionary

In [78]:
s=str(input())
print(s)
1. print(len(s)) # Length of String4
print(len(s)-1)

4A6 RAJ
4A6 RAJ
7
6

In [13]:
s="""Raj will message at 1 am"""
print(len(s))
# print(s.rfind('a',startindex,ending index))
print(s.rindex('a',5,15))# finding the index position
# print(s.index('k'))

24
13

a="4a6 Batch three zero four"
a.replace

In [39]:
# # slicing- 
# stringname[startingindex:endingindex:stepvalue]
# default- stepvalue is +1
# starting index - is zero
# endingindex by default is length of the string
s="4A6 BATCH"
print(s[::1])
print(len(s))

HCTAB 6A4
9

In [41]:
a="good morning"
print(a[1::])
print("G"+a[1::])

ood morning
Good morning

In [50]:
# MULTIPLY TWO STRINGS
# "12" "12" - "144"
# "12"+"12"- "24"
a="12"
a=int(a)
print(type(a))
print("abc"*3)
a="revanth is trainer"


print(a.split('->'))

<class 'int'>
abcabcabc
['revanth is trainer']

In [22]:
a="4a6 Batch three three zero four"
a.replace("three","four",2)
# a.replace("old value","new value",how many times)

'4a6 Batch four four zero four'

In [ ]:
# s="4A6 BATCH 304"
# rfind() -

In [137]:
# "revanth is a faculty".split()

# join

['revanth', 'is', 'a', 'faculty']

In [ ]:
a="    revanthrevanth"
print(a.count("kli"))
print(a.rstrip())
k=input().strip()
print(k)
# sep=" "
# b=sep.join(a)
# print(b)

In [ ]:
a="4A6 RAJ ANKITH"
# print(a[len(a):0:1])
print(a[::-1])
print(a[-1::])


# Positive slicing
# # start value=0
# # end value=len
# # updating +1

# negative slicing
# start value=-1
# end value=0
# default every step -+1
# updating = -1

In [ ]:
a="4A6 RAJ ANKITH"
print(a[-1])

In [ ]:
l=["revanth",1,2.5]
l.append("be quiet")
l.remove(1)
l.pop()
print(l)
l[0]="ankit"
print(l[-1])
print(len(l))
print(l.index(2.5))

In [ ]:
# lIST METHODS , # TUPLE METHODS # SET METHODS # DICTIONARY METHODS

 # 7, 8 - 27/12/2025
    
# List methods
append() - add the element at the end of list
insert()  - inserting the element based on index
extend() - add the list to a new list
pop()
remove()
sort() - reverse
reverse()
index()

In [18]:
l=[1,2,3,7,5]
l.sort()
print(l)
l.sort(reverse=True)
print(l)
k=["revanth","krishna","paliwal"]
k.reverse()
print(k)

[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]
['paliwal', 'krishna', 'revanth']

In [17]:
l=[1,2,3,4,5,6]
# map()
# 1,2,3,4,5,6
a=list(map(complex,input().split(',')))
print(a)

4+2j,4-2j,3-1j,2+1j
[(4+2j), (4-2j), (3-1j), (2+1j)]

In [6]:
l=["hello","world"]
l.insert(0,"hai")
print(l)
rollnumber=[1,2]
l.extend(rollnumber)
print(l)

['hai', 'hello', 'world']
['hai', 'hello', 'world', 1, 2]

In [28]:
l=[1,2,3,5]
l.append(6)
print(l)

l.pop()
print(l)

l.remove(3)
print(l)
l="revanth naga sai"
print(l.split(' '))
r=["revanth","naga","sai"]
#SEP.join(listname)
print(' '.join(r))

w=[1, 2, 3, 5, 6]
w.sort()
print(w)

[1, 2, 3, 5, 6]
[1, 2, 3, 5]
[1, 2, 5]
['revanth', 'naga', 'sai']
revanth naga sai
[1, 2, 3, 5, 6]

In [33]:
# map function is used to map the input based on the datatype
#map(datatype,input)
# a=list(map(int,input().split()))
# print(a)

a=()
print(a)
b=tuple()
print(b)

kl=(1, 2, 3, 4, 5)
print(kl)
print(type(kl))
  
# kl=list(kl)
# kl[4]="revanth"
# print(kl)

kl=tuple(kl)
print(kl)

print(min(kl))
print(kl.index(2))

()
()
(1, 2, 3, 4, 5)
<class 'tuple'>
(1, 2, 3, 4, 5)
1
1

In [ ]:
#Tuple operations

# Tuple methods

In [36]:
# 06/01/2026
# Sets
# datatype which stores unique elements
s={}
print(type(s))
s1=set()
print(s,s1)

<class 'dict'>
{} set()

In [2]:
s={1,2,1,2}
print(s)

{1, 2}

In [15]:
# Set operations
# union, intersection, difference, symmetric difference
s={1,2,3,4,5}
s1={5,6,7,"revanth",5}
print(s.union(s1))
print(s | s1)

print(s.intersection(s1))
print(s & s1)

print(s.difference(s1))
print(s1-s)

set1={1,2,3,4}
set2={3,4,5,6}
print(set1 - set2)
print(s ^ s1)

{1, 2, 3, 4, 5, 6, 7, 'revanth'}
{1, 2, 3, 4, 5, 6, 7, 'revanth'}
{5}
{5}
{1, 2, 3, 4}
{'revanth', 6, 7}
{1, 2}
{1, 2, 3, 4, 6, 7, 'revanth'}

In [29]:
s={1,2,3,4}
s.add(5)
print(s)
s1={5,6,5,5}
s.update(s1)
print(s)

# remove()
s.remove(1)
print(s)
# discard()
s.discard(7)
print(s)
#pop 
s.pop()
print(s)
# print(s[5])
# s=set(map(str,input().split(',')))
# print(s)
for i in s:
    print(i)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{3, 4, 5, 6}
3
4
5
6

In [ ]:
38,5,23,20,17,18,1,63,71,70,3,31,34,24,26,30,65,50,36,69,53,40,14,39,52,32,55,51,48,58,37,72,62,66,64,57,60,33,25,73,56,7,8

In [33]:
for i in range(1,11):
    if i%2==0 and i>5:
        print(i)

6
8
10

In [37]:
# Dictionaries map data type
# collection of key and value pairs
b=dict()
print(type(b))
a={}
print(type(a))

<class 'dict'>
<class 'dict'>

In [44]:
# a={key:value}
a={"BATCH":"4A6","rollno":45,"hello":45}
a["BATCH-1"]="4A6-1"
print(a)
a["BATCH-1"]="4A6-3"
print(a)

{'BATCH': '4A6', 'rollno': 45, 'hello': 45, 'BATCH-1': '4A6-1'}
{'BATCH': '4A6', 'rollno': 45, 'hello': 45, 'BATCH-1': '4A6-3'}

In [46]:
# len
a={'BATCH': '4A6', 'rollno': 45}
print(len(a))

a.clear()
print(a)

2
{}