In [5]:
import pandas as pd

# A series is one dimensional data
# like a single column in excel

s=pd.Series([10,20,30])
print(s)

print()
d=pd.Series([10,20,30],index=['a','b','c'])
print(d)


print(d['a'])

0    10
1    20
2    30
dtype: int64

a    10
b    20
c    30
dtype: int64
10

In [26]:
# A dataframe is a 2 dimensional table made of 
# rows , columns , row index, column names


import pandas as pd
data={
    "name":['A','B','C','D','E',"F"],
    "Age":[20,21,22,23,24,25]
}

df=pd.DataFrame(data,index=[1,2,3,4,5,6])
print(df)
print()
print(df.head())  # First 5 rows it will take

print(df.tail()) # last 5 rows 


# Shape of dataframe
#shows(rows,columns)
print()
print(df.shape)



# Access the columns

df[['name','Age']]

  name  Age
1    A   20
2    B   21
3    C   22
4    D   23
5    E   24
6    F   25

  name  Age
1    A   20
2    B   21
3    C   22
4    D   23
5    E   24
  name  Age
2    B   21
3    C   22
4    D   23
5    E   24
6    F   25

(6, 2)

  name  Age
1    A   20
2    B   21
3    C   22
4    D   23
5    E   24
6    F   25