In [ ]:
# 27-11-2025

# PYTHON FSD

# features of python
1. easy to implement/ learn
2. cross platform
3. high level
4. More Built in Functions and Modules
5. open source
6. OOPS (ABSTRACTION / ENCAPSULATION)
7. EXCEPTION HANDLING
8. MODULAR PROGRAMMING LANGUAGE
9. INTERPRETED PL 
10.INTERACTIVE
11.dynamically typed pl 
12. GUI (GAMES / IOT )
SIMULA67+C = C WITH CLASSES(C++)

In [1]:
# IDENTIFIER VARIABLE
# ANY NAMING CONVENTION
# A, B, C, D ,

SyntaxError: invalid syntax (1376183.py, line 1)

In [ ]:
# DATA TYPES IN PYTHON
5 
1. NUMBER DATATYPE- int, float,complex
2. SEQUENCE DATATYPE - string(mutable),list(mutable), tuple(immutable)
3. SET DATATYPE (unique elements)- set(mutable),frozenset(immutable)
4. MAP DATATYPE(mutable) - dictionary {key:value} 
5. BOOLEAN DATATYPE - True False

In [6]:
a=int(input("Enter a number : "))
b=float(input("Enter a number : "))
c=complex(input("Enter a number : "))
# type 
print(type(a))
print(type(b))
print(type(c))
print(a,b,c)
print(c.real)
print(c.imag)

Enter a number : 5
Enter a number : 5.0
Enter a number : 4-4j
<class 'int'>
<class 'float'>
<class 'complex'>
5 5.0 (4-4j)
4.0
-4.0

In [ ]:
# print(group of data,sep='',end='',file=sys.stdout,flush=False)

In [17]:
print(4,5,end="")
print(6)

4 56

In [8]:
print("revanth","naga","sai",sep="*",end='@')
# BY DEFAULT EVERY SEPARATOR IS SPACE
# BY DEFAULT EVERY END IS A NEW LINE
print("4A11")

revanth*naga*sai@4A11

In [ ]:
# types of print
1. general printing
2. by using f strings
3. by using format specifiers %d, %f
4. by using format

In [15]:
a=10
b=20
print(a,b)
# by using format specifiers - 
# print("%format specifer" %(variablename))
print("The number is : %d and b is %.2f" %(a,b))
# by using f strings
print(f"The a value is : {a} The b value is {b}")
# Using format Strings
print("the value is {0} the b value is {1}".format(a,b))

10 20
The number is : 10 and b is 20.00
The a value is : 10 The b value is 20
the value is 10 the b value is 20

In [3]:
# 01/12/2025
# a=int(input())
# b=float(input())
# c=complex(input())
# d=bool(input())
# print(d)

False

In [ ]:
# Operators in Python
1. Arthimetic +,-,*,/ ,%, ** // (floor division)
2. Assignment +=, -= ,*=, /=, %= , **=, //=
a=a+b
3. Relational  > < == >= <= !=
4. Logical   - and or not  
5. Bitwise - & | ~ << >> ^
6. Ternary Operators
7. Identity operators - is is not
8. Membership Operator  - in not in
these are used to check whether the values are present in the sequence or not

In [ ]:
# Selection Statements
1. Conditional Statements
1.if(condition):
    # True statements

if(condition):
    #Truue statements
else:
    # false statements

if(condition):
    # True statements
elif(condition1):
    # True statements
else:
    # False statements

if(condition):
    if(condition):
        #True statements
    else:
        #False statements
else:
    # False Statements

    
# switch
3.10 version 
match:
    case '1':
    case '2':
    case '3':
        

#Iterative
1. for
2. while

3. Jumping statements
1. Break
2. Continue
3. pass

In [27]:
a=10
b=20
print(id(a))
print(id(b))
print(a is b)
b=a
print(a is not b)
a=[1,2,3]
b=[1,2,3]
print(a is b)
# if the variables are consistt of same values
# then the first object memory will be allocated to the second object

140714936276040
140714936276360
False
False
False

In [33]:
# l=[17,20,40,50]
# if 17 not in l:
#     print("Ok he is there")
# else:
#     print("He is not there")

a="""revanth"""
if 'r' in a:
    print("Ok")
else:
    print("Not ok")

Ok

In [12]:
print(5**2)

25

In [8]:
print("a",end=" ")
print("b")

a b

In [3]:
l=[1,"revanth"]

In [ ]:

ordered and unordered
All Sequence Datatypes are Ordered 
we can access them using index position
Ex: string,list,tuple
We cannot access the elements using index position
Ex: Set, Dictionary

In [ ]:
# for(i=0;i<size;i++)
'''comment'''
"""comment """

In [17]:
# range(startvalue,endvalue,stepcount)

for i in range(10,30,15):
    print(i)

10
25

In [27]:
# N
# 5  * 5 
for rows in range(0,5):
    for cols in range(0,5):
        if cols==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
*
*
*
*

In [33]:
s="Revanth"
print(len(s))
# print(s[1])
for i in range(len(s)):
    print(s[i])
for i in s:
    print(i,end="")

7
R
e
v
a
n
t
h
Revanth

In [ ]:
# # print the values for the weekday
# 1- monday
# 2- tuesday
# 3- wednesday

# 7- sunday

In [2]:
a=int(input())

if a==1:
    print("Monday")
elif a==2:
    print("Tuesday")
else:
    print("No WeekDay Enter proper number")

# switch(a):
#     case 1:print("Monday")
#            break;
#     case 2:print("Tuesday")
#            break;


# switch(condition){
#     case 1: statements
#             break;
#     case 2: statements
#             break;
#     default: statements
#              break;
# }

2
Tuesday

In [7]:
s="4A11"
print(s[3])

1

In [ ]:
# Strings
sequence - list, tuple, String
ordered collection - We can AACCESS BY USING INDEX POSITIONS
0 to  size-1 
len()

find()
index()
rfind()
rindex()
count()
replace() 
split()

In [20]:
a="4A11B BATCH 4A11B BATCH"
a="4A11B"
b=a[6:len(a)]
print(a.replace("4A11B","4A11",2))
a="4A11B BATCH"
a.rfind("B")
a.count('1')
a.replace("4A11B","4A11")

4A11 BATCH 4A11 BATCH

'4A11 BATCH'

In [28]:
b="good morning"
print('G'+b[1:])

Good morning

In [ ]:
# # # String slicing 
# # revanth --> 
# # rev, eva, anth, ant, van, th, t, 

# slicing
# stringname[startingindex:endingindex:stepvalue]

In [48]:
a="hello this is 4A11"
print(len(a))
print(a[6:len(a)])

18
this is 4A11

In [53]:
a="revanth200319@gmail.com"
a.split()

['revanth200319@gmail.com']

In [ ]:
find,index,count,split,strip,upper,lower,islower,isupper,
capitalize,title,istitle,replace,isalpha,isalnum,isdigit,isspace

In [54]:
# strip() used to remove the spaces from the given input in both left and right
a=input("enter a string with spaces : ")
print(a.strip())

enter a string with spaces :              hlo              world
hlo              world

In [56]:
a="ABC123"
print(a.isupper())
print(a.islower())
print(a.isalpha()) # used to check the string consists of alphabets
print(a.isdigit()) #used to check string consists of digits
print(a.isalnum()) #used to check the string consists of alphannumeric characters

True
False
False
False
True

In [6]:
n=int(input("Enter n: "))
for i in range(n):
    for j in range(n):
        if j==0 or j==n-1 or i==j:
            print("*",end="")
        else:
            print(" ",end="")
    print()

Enter n: 10
*        *
**       *
* *      *
*  *     *
*   *    *
*    *   *
*     *  *
*      * *
*       **
*        *

In [46]:
for i in range(1,5):
    print(i,end=" ")

1 2 3 4

In [51]:


a="hello world"
vowels="aeiouAEIOU"
print('a' in vowels)
for i in a:
    if i in vowels:
        print(i,end="")

True
eoo

In [ ]:
 REVANTH 
    
*       *
* *     * 
*   *   *
*     * *
*       *

for i in range(startvalue,endvalue,step)

In [1]:
# Lists
# collection of elements
# ordered collection
# homogenous and heterogenous elements
# mutable datatype

l=list()
k=[]
print(l,k)

[] []

In [5]:
l=[1,2,3,4,5]
print(l)
print()
for i in range(0,len(l)):
    print(l[i],end=" ")
print()
for i in l:
    print(i,end=" ")

[1, 2, 3, 4, 5]

1 2 3 4 5
1 2 3 4 5

In [ ]:
# Built in methods in list
# 1.len to find length of the list

In [27]:
# 0,None,[],'',()
if "prince":
    print("Empty")
else:
    print("Not empty")

Empty

In [37]:
l=[1,2,3,"hello"," "," ",["HELLO"," "],4.5,[12,24,48,["revanth",["4A11","BATCH"],"prince"]]]
print(l[8][3][1][0])
print(l[6][2])

4A11

IndexError: list index out of range

In [ ]:
# Built in methods
1. len()
2. index()
3. append()
4. insert()
# insert(indexpostion,value)
5. pop() - used to remove the last
# pop(index) - used to remove element at the index
6. remove() used to remove a element
# remove(element)
7. clear() used to remove all elements
# l.clear()

8. extend() is used to extend one list with another list
# l1.extend(l2)

9. sort()  is used to sort the list
# l.sort()  ascending order
# l.sort(reverse=True) # descending order

10. reverse() 

11. join()

In [60]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=["hello","world"]
l1.extend(l2)
l1.extend(l3)
print(l1)
l1.reverse()
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 'world']
['world', 'hello', 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
l=["hello","world",1,2,3]
# separator.join(listname)
b="".join(l)
print(b)

TypeError: sequence item 2: expected str instance, int found

In [57]:
a=[1,2,3,4]
a.clear()
print(a)

[]

In [56]:
l=[10,20,30,40]
l.append(50)
l.insert(0,5)
print(l)
# print(l.index(40))
l.pop()
print(l)
l.pop(1)
print(l)
l.remove(20)
print(l)

[5, 10, 20, 30, 40, 50]
[5, 10, 20, 30, 40]
[5, 20, 30, 40]
[5, 30, 40]

In [ ]:
Dictionary

mapping datatype
collection of key value pairs 
mutable 
{}

by using dict()

In [3]:
l=[1,2,1,2]
print(l)

[1, 2, 1, 2]

In [16]:
a={'1':"4A11",2:"BATCH",3:"BATCH",1:"12345"}
# a[key]=value
a['1']=2
a[5]="world"
print(a[1])
print(a)

12345
{'1': 2, 2: 'BATCH', 3: 'BATCH', 1: '12345', 5: 'world'}

In [ ]:
if a:
    print("emoty")
else:
    p

In [42]:
a = complex(input())
print(a)
print(a.real)
print(a.imag)

4-2j
(4-2j)
4.0
-2.0

In [36]:
a={'1':"4A11",2:"BATCH",3:"BATCH",1:"12345"}
print(len(a))
# keys()
print(a.keys()) # used to get the keys
print(a.values()) # used to get the values
print(a.items()) # used to key value pairs
b=a.copy() # copy of the dictionary
print(b)
print(a.get(1)) # used to get the value based on the key
# setdefault  is used to update the dictionary if key value pair is not there
# if it is there it prints the value
print(a.setdefault('3',"hello world"))
print(a.setdefault(2))
print(a)
# update used to update the values 
print(a.update({1:"hello 1234"}))
# a[1]="hello 123456"
print(a)

4
dict_keys(['1', 2, 3, 1])
dict_values(['4A11', 'BATCH', 'BATCH', '12345'])
dict_items([('1', '4A11'), (2, 'BATCH'), (3, 'BATCH'), (1, '12345')])
{'1': '4A11', 2: 'BATCH', 3: 'BATCH', 1: '12345'}
12345
hello world
BATCH
{'1': '4A11', 2: 'BATCH', 3: 'BATCH', 1: '12345', '3': 'hello world'}
None
{'1': '4A11', 2: 'BATCH', 3: 'BATCH', 1: 'hello 1234', '3': 'hello world'}

In [ ]:
{key:value}

In [2]:
a=dict()
print(a)
print(type(a))

{}
<class 'dict'>

In [35]:
# # Dictionary Methods
# copy()
# items()
# keys()
# values()
# pop(key)

In [ ]:
69,2,35,21,25,26,46,57,65,31,18,41,4,30,19,13,6,61,29,52,36,11,10,40,15,58,53,56,17,24,28,20,62,39,67,1,60,45,42,38,71,33,5,59,54,64

In [3]:
# Function
def f(a,b):
    print(a,b)
    return [a,b]
f(5,6)

5 6

[5, 6]

In [ ]:
5 types of 
1. builtin functions( print,len,count,index,find,update,max,min)
2. user defined functions
        1. f with arguments with return type
        2. f without arguments with return type
        3. f with arguments without return type
        4. f without arguments without return type
3. Fruitful Functions
4. void functions
5. Lambda functions
6. composition functions passing one return value to other function
7. recursive functions

In [1]:
def a():
    return "s"
def b(k):
    print(k)
l=a()
b(l)

s

In [ ]:
# Types of Arguments
1. Positional / required arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Length Arguments
5. Keyword Variable length Arguments

In [2]:
# 1. Positional / required arguments

def function(a,b):
    print(a,b)

function(input(),input())

hello world
world
hello world world

In [6]:
# keyword Arguments
def function(a,b):
    print(a,b)
function(a=int(input()),b=int(input()))

10
20
10 20

In [9]:
# Default Arguments

def function(a=1,b="revanth"):
    print(a,b)
function("hello","world")

hello world

In [10]:
# Variable length arguments
def function(*a):
    print(a)
function(1)
function(1,2,3,4,5,6)

(1,)
(1, 2, 3, 4, 5, 6)

In [11]:
# keyword variable length Arguments (**)

def function(**a):
    print(a)
function(name="revanth",subject="PFSD")

{'name': 'revanth', 'subject': 'PFSD'}

In [4]:
# Fruitful Functions the function which returns something(any value) is called fruitful functions
def revanth():
    return "4A11 BATCH FACULTY"
a=revanth()
print(a)

4A11 BATCH FACULTY

In [5]:
# void functions (function which returns nothing)

def void():
    print("I am not returning anything")
void()

I am not returning anything

In [ ]:
# Lambda functions - These are called anonymous functions
# which do not have any name 

# variablename=lambda parameters:expression

In [21]:
# map( it is used to map the input to the datatyppe)
# map(datatype,input())
# Dynamic input from the user as a list
a=list(map(str,input().split()))
print(a)
# print(a,b,c,sep="->")
# print(type(a))
# print(type(b))
# print(type(c))

revanth naga sai pfsd
['revanth', 'naga', 'sai', 'pfsd']

In [7]:
a= lambda b,c:print(b+c)
a(4,5)

9

In [ ]:
# a=list(map(int,input().split()))
# print(a)
l=[1,2,3,4,5,6] # dynamic input
k=[]
print the even values to the separate list

output: k=[2,4,6]
    
    
a=["bananan","apple","mango","bananan","apple","mango","bananan","apple","mango"]
value="apple"
count the number of occurances in a of value

In [23]:
a=list(map(int,input().split()))
k=[]
for i in a:
    if i%2==0:
        k.append(i)
print(k)

1 2 3 4 5 6
[2, 4, 6]

In [ ]:
# 01.01.2026
# 69,28,36,25,52,46,64,67,30,38,59,53,45,58,2,3,32

In [ ]:
05/01/2026
OOPS
PROCEDURAL
OBJECT ORIENTED 
OBJECT BASED 

CLASS -> BLUEPRINT OF OBJECT
OBJECT -> REAL WORLD ENTITY 
METHOD -> TO PERFORM A SPECIFIC TASK
CONSTRUCTOR -> CLASS VARIABLES INITILAIZING

In [ ]:
class classname:
    # method1
    # method2
a=classname() #object creation
a.method1()
a.method2()

In [5]:
class fourA11:
#     a=10
#     b="revanth"
#     print(a,b)
    def __init__():
        #dunder method
        
    def hello(revanth):
        print("hello")
        
    def hello1(revanth):
        print("hello1")
a11=fourA11()
print(a11.a,a11.b)
a11.hello()
a11.hello1()

10 revanth
10 revanth
hello
hello1

In [7]:
class car:
    def __init__(self,color,speed):
        self.colorofcar=color  # self=benz benz.colorofcar
        self.speedofcar=speed
    def colormethod(revanth):
        print(revanth.colorofcar)
    def speedmethod(prince):
        print(prince.speedofcar)

benz=car("black",250)
benz.colormethod()
benz.speedmethod()
print()
audi=car("grey",300)
audi.colormethod()
audi.speedmethod()
print()
nano=car("yellow",120)
nano.colormethod()
nano.speedmethod()

black
250

grey
300

yellow
120

In [ ]:
for every method there should be one default parameter
the parameter can be any name 
so default parameter will be initilizing to the object name
and the default parameter name we will be giving as self

In [ ]:
69,25,28,66,35,38,42,49,71,32,61,7,26,3,65,31,68,47,40,10,24,19,13,11,50,36,58,53,56,6,17,15,1,60,45,39,67,54,64,5,33,59,63,70,29,21,62,23,20

In [ ]:
# 08/01/2026



class A:
    def __init__(self,name,rollno):
        self.nameofstudent=name #a.nameofstudent
        self.rollnoofstudent=rollno
    def method1(hello,batch):
        print(hello.nameofstudent,hello.rollnoofstudent)
        print(batch)
class Teacher:
    def __init__(self,name,rollno):
        self.name=name #a.nameofstudent
        self.employeeid=rollno
    
    def method1(batch):
        print(batch.nameofteacher,batch.employeeid)
        #print(batch)
        
a=A("4A11","12345")
a.method1()

b=Teacher("hello",123456)
b.method1()

In [ ]:
write a python program to implement parameterized constructor and take two values 
1. name
2. rollno
you should print the name and rollno in the display method

In [8]:
class Restuarant:
    def __init__(revanth,name,location):
        revanth.nameofres=name
        revanth.locationofres=location
    def display(subham):
        print(subham.nameofres,subham.locationofres)
        
        # b=a
res=input("enter resturant name: ")
location=input("Enter location: ")
a=Restuarant(location,res)
a.display()

enter resturant name: kfc
Enter location: gujarat
gujarat kfc

In [3]:
class Details:
    def __init__(self,name,rollno):
        self.nameofstudent=name
        self.rollnoofstudent=rollno
    def display(name,s):
        print(name.nameofstudent,name.rollnoofstudent)
        print(s)
a=Details("revanth",12345)
a.display("revanth")

revanth 12345
revanth

In [ ]:
class classname:
    def __init__(foura11,name,age):
        foura11.nameofstudent=name
        foura11.ageofstudent=age
        foura11.rollno
        # obj.nameofstudent
    def printingdetails(emailid,rollno,hello):
        print(emailid.nameofstudent,rollno,emailid.ageofstudent)
        # obj.nameofstudent
        
obj=classname(5,9)
obj.printingdetails("hello1223")

In [ ]:
69,17,6,10,40,22,61,32,5,64,42,38,46,57,71,26,7,12,66,25,3,70,45,47,68,28,53,2,50,58,21,18,54,16

In [ ]:
#object composition
# passing one object to another object as an argument is called object composition

In [ ]:
# write a class program to take parameterized constructor with two values 
# intilize them and print in a method(display)

# implement multiple inheritance

In [ ]:
# inheritance
class Car:
    take default constructor and print the "Car is good"
1. method - method should display1(method name) "excellent car"

create a class Benz(Child)
1. brandname(string)
2. vehiclenumber(integer)
3. Series(string)

methods should be display() prints the brandname, vechicle nnumber, series

In [ ]:
69,8,50,42,32,49,64,66,17,24,41,53,58,6,11,9,15,33,5,62,18,16,54,20,23,1,60,45,21,13,19

In [13]:
class a:
    def __init__(hello,r,a,v): #self->firstobject 
        r.firstvalue=4
        r.secondvalue=5
    
    def area(sop,t,b):
        print(sop.firstvalue*sop.secondvalue)
    def area1(h,ab,cd):
        print("area")

secondobject=a()
secondobject.area()

20

In [15]:
# inheritance
class parent:
    pass
class child(parent):
    def __init__(self,a,b,c,d):
        self.firstvalue=a
        self.secondvalue=b
        self.thirdvalue=c
        self.fourthvalue=d
    def area(s):
        print(s.firstvalue+s.secondvalue+s.thirdvalue+s.fourthvalue)
a=child(1,2,3,4)
a.area()

d=child(5,6,7,8)
d.area()

10
26

In [ ]:
# multilevel
class grandparent:
    pass
class parent(grandparent):
    pass
class child(parent):
    pass
a=child()

In [ ]:
# multiple
class Benz:
    pass
class Audi:
    pass
class Car(Benz,Audi):
    pass
a=Car()

In [ ]:
# herarical
class Car:
    pass
class Audi(Car):
    pass
class BMW(Car):
    pass
class rangerover(Car):
    pass
a=Audi()
b=BMW()
c=rangerover()

In [141]:
# 19/01/2026
#create a class with parameterized constructor two values and print the area in a method called Area

# Abstraction
# decorator - it is used to specify some importancee to the method from general method
from abc import `1,abstractmethod
class classname(ABC):
    
    @abstractmethod
    def hello(self):
        pass
    
    @abstractmethod
    def he(self):
        pass
    
    def hello(self):
        print("hello")
class revanth(classname):   
    def hello(self):
        print("heloo")
    def he(self):
        print("he")

revanth().hello()
revanth().he()

heloo
he

In [ ]:
69,2,35,50,11,8,42,49,37,25,32,68,62,47,65,18,48,4,21,33,5,53,56,58,36,17,15,6,24,14,45,13,19,77,54

In [140]:
import random
print(ord('A'))
password=''
for i in range(7):
    random.seed(5)
    password+=chr(random.randint(65,122))
print(password)

65
hhhhhhh

In [ ]:
69,70,3,2,68,47,4,8,50,35,40,61,30,57,46,32,42,62,48,64,6,36,45,53,58,20,23,66,1,28,25,7,16,54

In [ ]:
#encapsulation
def methodname()- public method
def __methodname() - private method
def _methodname() - protected method

a=10 - public variable
__a=10 - private variable
_a=10 - protected variable

In [15]:
class A:
    __b=10
    def __init__(self,a,b):
        self.__firstvar=a
        self.__secondvar=b  
    def method(self):
        print("Public method")
        print(self.__firstvar)
        print(self.__secondvar)
        print(self.__b)
        self.__method1()
    def __method1(self):
        print("Private method")
        print(self.__firstvar,self.__secondvar)
    
a=A("revanth","PFSD")
a.method()
print("First variable name is: ",a._A__firstvar)
print("second variable name is: ",a._A__secondvar)

In [ ]:
69,3,68,47,40,48,67,39,8,36,50,64,57,46,1,20,23,6,16,7,45,25,28,66,53,58,37,56,

In [ ]:
create a python class Bank using encapsulation
with two private variables and two public variables
private variables - ATM pin, Balance,public variables- Name, Account number
take a parameterized constructor
public methods to print the nameofaccountholder,account number
private method ---  display method()
i should check the ATM pin is equals to 1234
print("Account balance") else print("Invalid credentials")

In [19]:
class Bank:
    def __init__(self,a,b,c,d):
        self.__atmpin=a
        self.__balance=b
        self.name=c
        self.accnumber=d
    def nameofacc(self):
        print("Account name is: ",self.name)
    def accountnumber(self):
        print("Account number is: ",self.accnumber)
    def __display(self):
        if self.__atmpin==1234:
            print(self.__balance)
        else:
            print("INvalid")
a=Bank(1243,5000,"revanth",12345678)
a.nameofacc()
a.accountnumber()
a._Bank__display()

Account name is:  revanth
Account number is:  12345678
INvalid

In [ ]:
# add a method deposit which is public method
in the deposit take a parameter from user money
and add the money to the balance and update the balance

In [ ]:
# ways of accessing private, protected
1. creating a public method inside the class and calling the private method from that public method
2. with the help of object